.contanier{
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 322px);
    gap: 16px;
    margin-top: 16px;
    
}


@media (max-width: 1027px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 322px);
    }
}
