.subheading {
    font-size: 24px;
    color: #bfa5a7;
  }

  .footer{
    background-color: #BE3455;
    color: #FFFFFF;
    padding: 10px 0px 5px 150px;
    margin-top: 90px;
  }

  .pet{
    width: 460px;
    height: 217px;
    bottom: -220px;
    position: absolute;
    right: 20px;
  }

  .text {
    color: #574143;
    width: 563px;
  }

  body::-webkit-scrollbar {
    display: none;
  
  }
  
  .contanier::-webkit-scrollbar {
    display: none;
  }
  