.contanier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 999px;
}

.form {
  display: flex;
  width: 400px;
  gap: 20px;
  flex-direction: column;
}

.subheading {
  font-size: 34px;
  color: #bfa5a7;
  margin: 0px;
  margin-top: 84px;
}

.image{
  width: 600px;
  height: 700px;
}
.footer {
  background-color: #BE3455;
  color: #FFFFFF;
  padding: 10px 0px 5px 150px;
}

@media (max-width:1044px) {
  .flex{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:656px) {
 .image{
  width: 300px;
  height: 300px;
 }.footer{
  padding: 5px 0px 5px 40px;
 }.form {
  width: 300px;
} .subheading {
  font-size: 20px;
}
}